/*FOR SMARTPHONES*/
@media only screen and (min-width:150px) and (max-width:600px) {

    /*DEFAULT PAGE WIDTH*/
    #top-header,#main-content, nav ul, .flash .message, body>footer div {width:96%}

    /*HEADER*/
    header {background:none}
    #top-header {padding:13px 2%; background:linear-gradient(to top, #353535, #777)}
    #top-header p {display:none}
    /*END HEADER*/

    /*MENU*/
    nav ul {padding:0 2%}
    nav ul li {float:none}
    nav ul li a {display:block; text-align:center; height:10px; line-height:8px}
    nav ul li a:hover, nav.category .categories, nav.user .users, nav.complaint .complaints, nav.home .home, nav.about .about {background:#AAA; border-radius:4px}
    /*END MENU*/

    /*FLASH MESSAGES*/
    .flash .message {padding:.2% 2%; line-height:25px;  margin:0 auto 1.4%;}
    .flash .message p {line-height:27px}
    .flash .message .close-message {display:block}
    /*END FLASH MESSAGES*/

    /*CONTENT*/
    #main-content {width:96%}
    #content {min-height:initial}
    #content article {padding:4%}
    #content article p {text-align:justify}
    #content article footer {margin:4% 0}

    div.image-modal {width:96%; left:2%}

    .images {float:none; width:90%; margin-bottom:4%}

    #content article div.button {float:none; margin:20px 0}

    #form > div input, #form>div textarea {width:100%}
    #form > div {margin-bottom:4%}
    #form .input-wrapper {float:none; width:90%}
    #form select {min-width:50%}
    #form label {float:none; display:block; text-align:left; padding:0px}

    #basic-list {margin:8% auto;}
    #basic-list ul li {float:none; width:100%; margin:4% 0}
    #basic-list .display-item img {width:60px}

    #content .paginator p.pagination-info {margin-top:4%}

    #user-view {margin:4% auto}
    #user-view .user-image, #user-view .information {float:none}
    #user-view .information {margin:4% 0 0 0}

    .crop {height:300px}

    #complaints-list {margin:4% 0}
    #complaints-list li {padding:10px 5px}
    #complaints-list > li:nth-child(2n) {background:#F1F1F1}

    #complaints-list li div.complaint-name {border-bottom:dotted 1px #CCC}
    #complaints-list li div.complaint-name, #complaints-list li div.user-details {float:none; max-width:100%; text-align:left; margin-bottom:4%; overflow:auto}
    #complaints-list li div.user-details a {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
    
    #complaints-list li div.user-details img {margin-right:7px; margin-left:0; float:left}

    #complaints-list li div.fulfill-line {display:none}

    #complaints-list li div.complaint-details {position:initial}
    #complaints-list li div.complaint-details a {margin:0}
    #complaints-list li div.complaint-details span {display:block; margin:10px 0 10px 0}
    #complaints-list p.comments-count {position:initial; margin-bottom:10px}

    #view-complaint .user {background:linear-gradient(to bottom, #F1F1F1, #FFF)}
    #view-complaint .complaint-details h1 {margin:2% 0}

    #comments ul.comments > li, #comments .user {margin:4% 0}
    #comments .user {background:linear-gradient(to bottom, #F1F1F1, #FFF)}
    #comments .comments-details {margin-left:2%; width:calc(98% - 50px);}
    #comments .comments-details .comments-details {padding:0}
    #comments .comments-details p {text-align:initial; line-height:18px}

    .comment-reply .reply-wrapper {width:95%}
    /*END CONTENT*/

    /*FOOTER*/
    body>footer div {padding:0 2%}
    body>footer div p {width:60%}
    /*END FOOTER*/
}

/*FOR TABLETS*/
@media only screen and (min-width:600px) and (max-width:1000px) {
     /*DEFAULT PAGE WIDTH*/
    #top-header,#main-content,nav ul, .flash .message, body>footer div {width:96%}

    div.image-modal {width:96%; left:2%}

    #form .input-wrapper {width:50%}
    #form > div input, #form > div textarea {width:100%}

    .comment-reply .reply-wrapper {width:65%}

    #basic-list {margin:2% auto;}
    #basic-list > ul > li {width:45%; margin:1% 2.5%}
    #basic-list .display-item img {width:60px;}
    #basic-list .display-item a {font-size:.9em;}
}

/*FOR HIGHER RESOLUTIONS*/
@media only screen and (min-width:1600px) {
    #top-header,#main-content, nav ul, .flash .message, body>footer div {width:63%}
    div.image-modal {width:63%; left:18.5%}
}